# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Cache files
#
__pycache__/
.pytest_cache/

# Compiled files
#
/Cargo.lock

target/

# Not ignored
#
!.gitkeep
